.Search {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Search .Find {
  height: 46px;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  border-radius: 6px;
  background-color: #fff;
  /* border-color: #ccc; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Search .FormCategory {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  background-color: #fff;
  color: #555;
  width: 100%;
}

.Search .FormCategory:after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 8px;
    width: 1px;
    background-color: #ccc;
}

.Search .Zipcode {
  height: 46px;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  background-color: #fff;
}

.Search .SearchButton {
  height: 46px;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  border-radius: 6px;
  background-color: whitesmoke;
  /* border-color: none; */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}