.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  background-image: url("../../img/pizza.jpg");
  height: 100vh;
  background-size: cover;
  width: 100%;
}

.Container .Main {
  display: flex;
  flex-direction: column;
}

.Container .Logo {
  width: 100%;
}
